body {
    font-family: 'Barlow';
    background-color: #ECEFF1;
}

/* Color of the links BEFORE scroll */
.nav-link,
.navbar-toggler-icon,
.navbar-toggler,
.fa-bars,
.navbar-brand {
    color: white;
    font-family: "Barlow", serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-toggler,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navbar-brand {
    color: white;
    font-family: "Barlow", serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    transition: 0.3s ease;
    background-color: #0a0a09;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: #00000061;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}
/*--------------------------------------------------------------*/
:root {
    --bs-teal: #20c997; /* Teal rengini burada tanımlayın */
}

.btn_teal {
    --bs-btn-hover-bg: var(--bs-teal);
    --bs-btn-hover-border-color: var(--bs-teal);
}

.card-hover-section .card-container {
    display: flex;
    gap: 1rem;
}

.card-hover-section .card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, flex 0.3s ease;
    flex: 1;
    /*width: 80%;*/
    width: 100%;
    justify-items: center;
}

    .card-hover-section .card:hover {
        transform: scale(1.1);
        z-index: 1;
    }

        .card-hover-section .card:hover ~ .card {
            transform: scale(0.9);
        }

.card-hover-section .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0 10px 0 10px;
}

.card-hover-section .card:hover .card-overlay {
    opacity: 1;
}

.card-hover-section .card img {
    display: block;
    width: 100%;
    height: auto;
}

.card-hover-section .card-body {
    position: relative;
    z-index: 1;
}

.card-hover-section .card-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

@media (max-width: 768px) {
    .card-hover-section .card {
        transform: none !important;
        flex: none;
        width: 100%;
        margin-bottom: 1rem;
    }

        .card-hover-section .card:hover {
            transform: none !important;
        }

            .card-hover-section .card:hover ~ .card {
                transform: none !important;
            }
}
/*---------------------------------------------------------*/
@media only screen and (min-width: 1224px) {
    /* .deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 190px;
        height: 140px;
        border: 1px solid black;
        background-color: #ffffff94;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        border-radius: 1rem;
    }*/
    .deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 180px;
        height: 180px;
        /* border: 1px solid black; */
        background-color: #00000061;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        /* border-radius: 1rem; */
    }

        .deneme:hover {
            transform: scale(1.3);
        }

    #intro img {
        width: 40%;
    }

    .header-search {
        margin-top: 35vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    .header-serach-box {
        margin-top: 40px;
        display: flex;
        width: auto;
        gap: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px 0 20px;
    }

    .tour-detail-main-container {
        display: flex;
        flex-wrap: wrap;
    }

        .tour-detail-main-container img {
            max-width: 400px;
        }

    .detail-container {
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: center;
        width: 65%;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding-top: 20px;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
    }

    .aside-content {
        justify-items: center;
        height: 60vh;
        max-height: 60vh;
        /* position: sticky;
        top: 75px;*/
        margin-top: 50px;
        padding: 12px;
        width: 25%;
        border-radius: .35rem;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*background-color: #ffffff;*/
        border: 1px solid lightgray;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1223px) {
    .deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 190px;
        height: 140px;
        border: 1px solid black;
        background-color: #ffffff94;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        border-radius: 1rem;
    }

        .deneme:hover {
            transform: scale(1.3);
        }

    #intro img {
        width: 40%;
    }

    .header-search {
        margin-top: 35vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    .header-serach-box {
        margin-top: 40px;
        display: flex;
        width: auto;
        gap: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px 0 20px;
    }

    .tour-detail-main-container {
        display: flex;
        flex-wrap: wrap;
    }

        .tour-detail-main-container img {
            max-width: 400px;
        }

    .detail-container {
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: center;
        width: 65%;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding-top: 20px;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
    }

    .aside-content {
        justify-items: center;
        height: 60vh;
        max-height: 60vh;
        /*  position: sticky;
        top: 75px;*/
        margin-top: 50px;
        padding: 12px;
        width: 25%;
        border-radius: .35rem;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*background-color: #ffffff;*/
        border: 1px solid black;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 150px;
        height: 120px;
        border: 1px solid black;
        background-color: #ffffff94;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        border-radius: 1rem;
    }

        .deneme:hover {
            transform: scale(1.3);
        }

    #intro img {
        width: 40%;
    }

    .header-search {
        margin-top: 12vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    .header-serach-box {
        margin-top: 40px;
        display: flex;
        width: auto;
        gap: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px 0 20px;
    }

    .tour-detail-main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

        .tour-detail-main-container img {
            max-width: 400px;
        }

    .detail-container-main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
    }

    .detail-payment {
        display: flex;
        gap: 2.8rem;
        margin-left: 0px !important;
        margin-top: 10px;
        font-size: 20px;
    }

    .aside-content {
        justify-items: center;
        height: 60vh;
        max-height: 60vh;
        /*  position: sticky;
        top: 75px;*/
        margin-top: 50px;
        padding: 12px;
        width: 100%;
        border-radius: .35rem;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*background-color: #ffffff;*/
        border: 1px solid lightgray;
    }

        .aside-content input {
            background-color: #f9f9f9;
        }
}

@media only screen and (max-width: 575.98px) {
    /*.deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 150px;
        height: 120px;
        border: 1px solid black;
        background-color: #ffffff94;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        border-radius: 1rem;
    }*/
    .deneme {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 150px;
        height: 150px;
        /* border: 1px solid black; */
        background-color: #00000061;
        flex-wrap: wrap;
        flex-direction: column;
        transition: transform 0.3s ease;
        align-items: center;
        /* border-radius: 0.9rem; */
    }

        .deneme:hover {
            transform: scale(1.3);
        }

    #intro img {
        width: 40%;
    }

    .header-search {
        margin-top: 12vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    .header-serach-box {
        margin-top: 40px;
        display: flex;
        width: auto;
        gap: 50px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0px 20px 0 20px;
    }

    .tour-detail-main-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

        .tour-detail-main-container img {
            max-width: 400px;
        }

    .detail-container-main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: flex-start;
        margin-top: 2rem;
    }

    .detail-content {
        display: flex;
        flex-direction: column;
    }

    .detail-payment {
        display: flex;
        gap: 2.8rem;
        margin-left: 0px !important;
        margin-top: 10px;
        font-size: 20px;
    }

    .aside-content {
        justify-items: center;
        height: 60vh;
        max-height: 60vh;
        /*  position: sticky;
        top: 75px;*/
        margin-top: 50px;
        padding: 12px;
        width: 100%;
        border-radius: .35rem;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*background-color: #ffffff;*/
        border: 1px solid lightgray;
    }

        .aside-content input {
            background-color: #f9f9f9;
        }
}

.aside-content input {
    background-color: #f9f9f9;
    border-color: #17C3B2;
}



.detail-container-main {
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    align-items: flex-start;
    margin-top: 2rem;
    /*            border: 1px solid gray;
            padding: 15px;
            border-radius: 1rem;
            box-shadow: 0 0 10px 0px black;*/
}

.detail-payment {
    display: flex;
    gap: 2.8rem;
    /*margin-left: 17rem;*/
    /*margin-top: 10px;*/
    font-size: 20px;
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .services-list li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 1rem;
    }

        .services-list li .icon {
            font-size: 1rem;
            margin-right: 10px;
        }

        .services-list li.included .icon {
            color: #28a745;
        }

        .services-list li.excluded .icon {
            color: #dc3545;
        }

/*.section-swip {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;*/ /* Taşan içerikleri gizle */
/*}

.swiper-container {
    width: 100%;*/ /* Genişliği sayfanın tamamını kapsayacak şekilde ayarla */
/*height: 100vh;*/ /* Tam ekran yüksekliğinde */
/*}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide img {
        width: 100%;
        height: 100%;*/ /* Yükseklik tam dolu olacak */
/*object-fit: cover;*/ /* Görüntüyü kırpmadan içeri sığdır */
/*}*/


/* Slider Konteyner Ayarları */
.section-swip {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Yazıların Üst Üste Geleceği Alan */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 70%;
    max-width: 600px;
    height: 550px; /*300px idi*/
    padding: 30px;
    box-sizing: border-box;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: rgb(0 0 0 / 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border: 10px solid white;
    /*border-left: 10px solid white;
    border-right: 10px solid white;*/
}

/* Üst Border */
/*.text-overlay::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;*/ /* Border kalınlığı */
/*background: linear-gradient(to right, white, #00000000);
        z-index: 2;
    }*/

/* Alt Border */
/*.text-overlay::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;*/ /* Border kalınlığı */
/*background: linear-gradient(to left, white, #00000000);
        z-index: 2;
    }*/

.swiper-slide-active .text-overlay {
    opacity: 1;
}

.text-overlay h2 {
    font-size: 4.5em; /* Yazı boyutu büyütüldü */
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
}

.text-overlay h3 {
    font-size: 2.8em; /* Alt başlık yazı boyutu büyütüldü */
    font-weight: bold;
    margin: 10px 0 0;
    /*color: #17C3B2;*/
    color: white;
    display: inline-block;
    position: relative;
}

    .text-overlay h3::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #17C3B2;
    }

/* Fade-in Animasyonu */
@keyframes fadeInText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.whatsapp-button {
    background-color: #25d366;
    padding: 10px;
    border-radius: 50px;
    transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #00d757;
}

.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sign svg {
        width: 25px;
    }

        .sign svg path {
            fill: white;
        }

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
}

.Btn:hover {
    width: 450px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

    .Btn:hover .sign {
        width: 30%;
        transition-duration: 0.3s;
        padding-left: 10px;
    }

    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: 0.3s;
        padding-right: 10px;
    }

.Btn:active {
    transform: translate(2px, 2px);
}
